.footer {
    display: flex;
    flex-wrap: nowrap;
    margin: -10px -15px -30px -15px;
    color: $color-grey3;

    &__item {
        flex-basis: 50%;
        max-width: 50%;
        padding: 0 15px 15px 15px;

        .text-size-small {
            line-height: 1.8;
            margin-top: -5px;
        }

        a {
            text-decoration: underline;
        }

    }

}