.footer {
    display: flex;
    flex-wrap: nowrap;
    margin: -10px -30px -30px -30px;
    color: $color-grey3;

    @media(max-width: 1140px) {
        margin-top: -25px;
    }

    &__item {
        flex-basis: 50%;
        max-width: 50%;
        padding: 0 30px 15px 30px;

        .text-size-small {
            line-height: 1.8;
            margin-top: -5px;
        }

        a {
            text-decoration: underline;
        }

    }

}